spring:
  application:
    name: Onboarding

  datasource:
    url: jdbc:mysql://localhost:3306/onboarding_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml



